@import "tailwindcss";

:root {
  font-family: "Space Grotesk", sans-serif;
}

.font-grotesk {
  font-family: "Space Grotesk", sans-serif;
}

.font-jetbrains {
  font-family: "JetBrains Mono", monospace;
}

#tsparticles canvas {
  position: absolute !important;
  inset: 0 !important;
  pointer-events: none !important;
  width: 100% !important;
  height: 100% !important;
}