@import "tailwindcss";

:root {
  font-family: "Space Grotesk", sans-serif;
}

.font-grotesk {
  font-family: "Space Grotesk", sans-serif;
}

.font-jetbrains {
  font-family: "JetBrains Mono", monospace;
}

#tsparticles canvas {
  position: absolute !important;
  inset: 0 !important;
  pointer-events: none !important;
  width: 100% !important;
  height: 100% !important;
}

/* .brain-detailed-svg .fold-lines {
  stroke-dasharray: 4000;
  stroke-dashoffset: 4000;
  animation: drawFolds 4s ease forwards, glowFolds 3s infinite alternate;
}

@keyframes drawFolds {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes glowFolds {
  from {
    filter: drop-shadow(0 0 8px #0ff);
    stroke-opacity: 0.8;
  }
  to {
    filter: drop-shadow(0 0 20px #3b82f6);
    stroke-opacity: 1;
  }
} */